@model asp.Models.operacion

<h2>Multiplicación y División</h2>

<form asp-action="Add" method="post">
    <input asp-for="num1" placeholder="Número 1" />
    <input asp-for="num2" placeholder="Número 2" />
    <button type="submit">Multiplicar</button>
</form>

<form asp-action="Subtract" method="post">
    <input asp-for="num1" placeholder="Número 1" />
    <input asp-for="num2" placeholder="Número 2" />
    <button type="submit">Dividir</button>
</form>

@if (Model != null)
{
    <h4>Resultado: @Model.result</h4>
}
